ACME Hospital

1235 West Main St

Lawerance, MA 01840

---
## LABORATORY REPORT
### Test Ordered: {{reportName}}
---

#### NAME: {{patient.name}}
#### DOB: {{patient.birthDate}}
#### SEX: {{patient.gender}}

| TEST        | RESULT       | UNITS        |
| ----------- | ------------ | -------------|
{{#labs}}
| {{labName}} | {{labValue}} | {{labUnit }} |
{{/labs}}

