# ACME Hospital
1235 West Main St

Lawerance, MA 01840

---
## LABORATORY REPORT
---

NAME: ${patientName}

DATE: ${lab_date}

DOCTOR: ${doctorName}


| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
